<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <title>글 목록페이지 입니다</title>
</head>

<body class="grey-bg">
  <%- include('nav.ejs') %>
  <% let btnMin = 5 * Math.ceil(articles.metadata.page/5) - 4 %>
  <input class="search">
  <button class="search-send">검색</button> 
  <div class="white-bg">
    <% for(let i = 0; i < articles.data.length; i++){ %>
    <div class="list-box">
      <h4>
        <a href="#" id="<%= articles.data[i]._id %>" class="title">
          <%= articles.data[i].title %>
        </a>
      </h4>
      <p><%= articles.data[i].writer %></p>
      <p><%= articles.data[i].regDate %></p>
      <p><%= articles.data[i].gua %></p>
    </div>
    <% }%>
  </div>
  <!-- 페이지네이션 -->
  <div class="pagination">
    <% if (articles.metadata.prev) { %>
      <button>
        <a href="http://localhost:8080/list?page=<%= btnMin - 1%>">prev</a>
      </button>
    <% } %>

    <% for(let i = btnMin; i <= Math.ceil(articles.metadata.totalCount/articles.metadata.pagesize); i++) { %>
      <% if( i > btnMin + 4) { break; } %>
        <% if(i == articles.metadata.page){ %>
          <button class="highlight">
            <a href="http://localhost:8080/list?page=<%= i%>"><%= i %></a>
          </button>
        <% } else { %>
          <button>
            <a href="http://localhost:8080/list?page=<%= i%>"><%= i %></a>
          </button>
        <% } %>
    <% } %>

    <% if (articles.metadata.next) { %>
      <button>
        <a href="http://localhost:8080/list?page=<%= btnMin + 5%>">next</a>
      </button>
    <% } %>
  </div>
  
  <script src="/main.js"></script>
  <script src="/list.js"></script>
  <%- include('footer.ejs') %>
</body>

</html>